.box-3{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.box-3-header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.box-3-header h1{
    font-weight: bold;
    font-size: 0.7rem;
}

.box-3-main{
display: flex;
align-items: center;
justify-content: center;
gap: 15px;
}

.box-3-main h1{
    font-weight: bold;
    font-size: 1rem;
}

.box-3-icon{
    background-color:var(--primary-color);
    color: white;
    border-radius: 5px;
}

.box-3-main p{
    font-size: 0.5rem;
}

.box-3-footer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 0.4rem;
}

.box-3-line-1{
    width: 10px;
    height: 5px;
    background-color:var(--primary-color);
    border-radius: 10px;
}

.box-3-line-2{
    width: 10px;
    height: 5px;
    background-color: var(--secondary-dark);
    border-radius: 10px;
    position: relative;
}
.box-3-sub-line-3{
    width: 5px;
    height: 5px;
    background-color:var(--primary-color);
    border-radius: 10px;
    position: absolute;
}

.box-3-line-3{
    width: 10px;
    height: 5px;
    background-color: grey;
    border-radius: 10px;
}